.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-column {
 flex: 0 0 220px;
}

.middle-column {
  min-width: 100px;
  flex: 1 1 auto;
}

.last-column {
  flex: 0 0 300px
}
